modules = ["nodejs-20", "web"]
[nix]
channel = "stable-25_05"
packages = ["unzip"]

[agent]
expertMode = true
integrations = ["javascript_log_in_with_replit:2.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[userenv]

[userenv.shared]
SMTP_HOST = "smtp.ionos.es"
SMTP_PORT = "587"
SMTP_USER = "no-reply@easyusllc.com"
SMTP_PASS = "val5472USLL4788"
ADMIN_EMAIL = "arnau@easyusllc.com"
SMTP_USER_SUPPORT = "hola@easyusllc.com"
SMTP_USER_TRUSTPILOT = "trustpilot@easyusllc.com"
SMTP_USER_ADMIN = "arnau@easyusllc.com"
TRUSTPILOT_BCC_EMAIL = "easyusllc.com+62fb280c0a@invite.trustpilot.com"
